<uib-tabset type="tabs" justified="true" class="panel panel-dark tabbable top-tabs" style="width:100%;height:auto;">
    <uib-tab class="panel-heading ng-click-active" heading="US {{config.patentnumber | number:0}}">
          <uib-tab heading="Cover">

        <ng-annotate-text class="bs-callout bs-callout-NOA" text="tree.abstract"></ng-annotate-text>
        <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <uib-slide ng-repeat="drawing in tree.drawings track by $index" index="$index">
                <img ng-src="{{drawing}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h4>Figure {{$index}}</h4>
                    <p>{{drawing}}</p>
                </div>
            </uib-slide>
        </uib-carousel>
        
        <ng-annotate-text class="card card-block" text="tree.text"></ng-annotate-text>
    </uib-tab>
    <d3pendingtree patent="{{$parent.$parent.config.patentnumber}}" tree="tree" pattern="{{query}}"></d3pendingtree>
    <div ui-tree="treeOptions"  class="card card-block">
                        <ol ui-tree-nodes max-depth="6" ng-model="tree.claims">
                            <li ui-tree-node class="" ng-repeat="node in tree.claims " ng-include="'claim_renderer.html'" style="padding-right:0rem;padding-bottom:0.1rem;" ></li>

                        </ol>
                    </div>
    
    </uib-tab>
    <uib-tab class="panel-heading ng-click-active" ng-if="tree.pub" heading="{{tree.pub.slice(0,4) + '/ ' + tree.pub.slice(4,tree.pub.length)}}">
        <d3pendingtree patent="{{tree.pub}}" tree="altree" pattern="{{query}}"></d3pendingtree>
    </uib-tab>

    <!--<uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
        {{tab.content}}
    </uib-tab>
    <uib-tab ng-repeat="tab in config.tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
        {{tab.content}}
    </uib-tab>-->
  
   
    </uib-tab>
</uib-tabset>